<%-include ('components/header.ejs') %>

<div class="contenedor">

    <div class="contenedor__menu">
        <%-include ('components/menu.ejs') %>  
    </div>

    <div class="contenedor__form">
        <%-include ('components/form.ejs') %>
        <%-include ('components/table.ejs') %>
    </div>

</div>







<%-include ('components/footer.ejs') %>