<%-include ('components/header.ejs') %>

<div class="contenedor">

    <div class="contenedor__menu">
        <%-include ('components/menu.ejs') %>
    </div>

    <div class="contenedor__form">
        <div class="contenedor">
            <%-include ('components/lineas.ejs') %>
            <%-include ('components/form.ejs') %>
        </div>
        <%-include ('components/table.ejs') %>
    </div>

</div>







<%-include ('components/footer.ejs') %>